/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.container {
  max-width: calc(71.625rem + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Header */
.header {
  padding-top: 2.125rem;
  margin-bottom: 0.9375rem;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8125rem;
  text-transform: uppercase;
}

.header__logo p {
  margin: 0;
}

.menu__link {
  font-family: Inter, sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu__link:hover,
.menu__link:focus {
  color: rgba(255, 73, 73, 1);
}

.header__menu-mobile {
  display: none;
}

/* Search */
.page__search {
  margin-bottom: 2.625rem;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1875rem;
  height: 3.125rem;
  padding: 0.1875rem;
  border-radius: 5px;
  background: rgba(255, 73, 73, 1);
}

.search__input {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  padding: 0 30px;
  background: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.search__button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: 100%;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 73, 73, 1);
  border: none;
  cursor: pointer;
}

/* Content-main */
.content {
  padding-bottom: 5.875rem;
}
.content-box {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  margin-top: 0;
  margin-bottom: 1.5625rem;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-card {
  width: calc((100% - (30px * 2)) / 3);
  text-decoration: none;
  color: inherit;
}

.card__img-wrapper {
  width: 100%;
  margin-bottom: 0.75rem;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 600;
}

.title_en {
  font-weight: 400;
}

.card__description {
  margin: 0;
  margin-bottom: 0.6875rem;
  color: rgba(134, 134, 134, 1);
  font-weight: 400;
  line-height: 19px;
}

.card__rating {
  margin: 0;
  color: rgba(4, 163, 30, 1);
  font-weight: 600;
}

.content-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 16.375rem;
  width: 16.375rem;
}

.content-aside__info {
  margin-bottom: 120px;
}

.content-aside__title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.content-aside__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content-aside__item h3 {
  margin: 0;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.content-aside__item p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
}

.content-aside__footer {
  display: flex;
  flex-direction: column;
}

.content-aside__footer p {
  margin: 0;
  margin-bottom: 0.3125rem;
  color: rgba(170, 170, 170, 1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
}

.content-aside__footer a {
  color: rgba(170, 170, 170, 1);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.0625rem;
}

.content-aside__footer a:hover {
  color: rgba(255, 73, 73, 1);
}

.content-movie {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.content-movie__poster {
  width: calc((100% - 28px) / 2);
  display: flex;
  justify-content: center;
}

.content-movie__poster img {
  width: 100%;
  max-width: 28.125rem;
  height: auto;
  vertical-align: bottom;
}

.content-movie__wrapper {
  width: calc((100% - 28px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.content-movie__heading {
  margin-bottom: 29px;
}

.content-movie__title {
  margin: 0;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.title_en {
  font-weight: 400;
}

.content-movie__description {
  margin: 0;
  margin-bottom: 2px;
  color: rgba(134, 134, 134, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.rating {
  margin: 0;
  color: rgba(4, 163, 30, 1);
  font-size: 16px;
  font-weight: 600;
}

.content-movie__text p {
  margin-top: 0;
  margin-bottom: 16px;
}

.btn {
  align-self: start;
  display: block;
  padding: 16px 98px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  cursor: pointer;
}

.btn_watch {
  background: rgba(255, 73, 73, 1);
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 992px) {
  .content-card {
    width: calc((100% - (30px * 1)) / 2);
  }

  .content-movie {
    flex-direction: column;
  }

  .content-movie__poster {
    width: 100%;
  }

  .content-movie__wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: block;
  }
  .search__input {
    padding: 0 10px;
  }
  .content-box {
    flex-direction: column;
  }
  .content-aside {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .content-card {
    width: 100%;
    min-width: 100%;
  }
}
