<header class="page__header header">
  <div class="container">
    <div class="header__wrapper">
      <a routerLink="/" class="header__logo">
        <h1 class="header__title">NETCLICKS</h1>
        <p>всё о сериалах</p>
      </a>
      <div class="header__menu menu">
        <a class="menu__link" href="#">Вход и регистрация</a>
      </div>
      <div class="header__menu-mobile menu-mobile">
        <img class="menu-mobile__pic" src="assets/images/icon-menu.svg" alt="burger icon">
      </div>
    </div>
  </div>
</header>
